<nav>
  <ul>
    <li><a routerLink="line-chart">Line Chart</a></li>
    <li><a routerLink="multi-series-chart">Multi Series Chart</a></li>
    <li><a routerLink="area-chart">Area Chart</a></li>
    <li><a routerLink="stacked-area-chart">Stacked Area Chart</a></li>
    <li><a routerLink="stream-area-chart">Stream Area Chart</a></li>

    <li><a routerLink="bar-chart">Bar Chart</a></li>
    <li><a routerLink="historical-bar-chart">Historical Bar Chart</a></li>

    <li><a routerLink="grouped-bar-chart">Grouped Bar Chart</a></li>
    <li><a routerLink="stacked-bar-chart">Stacked Bar Chart</a></li>
    <li><a routerLink="linear-stacked-bar-chart">Linear Stacked Bar Chart</a></li>

    <li><a routerLink="horizontal-bar-chart">Horizontal Bar Chart</a></li>
    <li><a routerLink="grouped-horizontal-bar-chart">Grouped Horizontal Bar Chart</a></li>
    <li><a routerLink="stacked-horizontal-bar-chart">Stacked Horizontal Bar Chart</a></li>
    <li><a routerLink="stacked-normalized-horizontal-bar-chart">Stacked Normalized Horizontal Bar</a></li>
    <li><a routerLink="stock-history-demo">Stock History Bar Chart</a></li>

    <li><a routerLink="pie-chart-demo">Pie Chart</a></li>
    <li><a routerLink="donut-chart-demo">Donut Chart</a></li>


    <li><a routerLink="candle-stick-chart">Candle Stick Bar Chart</a></li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>