* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
    float: left;
    width: 20%;
    height: calc(100vh - 50px);
    background: #ccc;
    padding: 20px;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  .container {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: calc(100vh - 50px);
  }

